.header {
  --color-primary: #c08497;
  --color-secondary: #f7af9d;
  --color-tertiary: #f7e3af;
  --color-clear: #f3eec3;
  --color-dark: #9ddbc3d7;
}

a:hover {
  color: var(--color-clear);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--color-dark);
  padding: 20px;
  color: var(--color-white);
}

.header_inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 800px;
  max-width: 100%;
}

.header_logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.logo {
  height: 32px;
  width: 32px;
  margin: 0 5px 0 5px;
}

@media (max-width: 960px) {
  .header_logo {
    max-width: 300px;
  }
}

@media (min-width: 960px) {
  .header_logo {
    width: 300px;
    max-width: 100%;
  }
}

.center {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  top: 0px;
  left: 0px;
  transform: translate(0%, 0%);
}
